<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SampleTest">
  <test thread-count="5" name="Test">
    <classes>
      <class name="MavanGitIntegration.MavanGitIntegration.SampleTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SampleTest -->
